

{% extends 'base.html' %}

{%load  static %}


{% block main%}



<div style="display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:15%
            ">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="">
        <img src="" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form class="login" method="post">
        {% csrf_token %}

        <input class="form-control" style="margin: 10px;min-width:200px" type="text" id="login" name="username"   placeholder="login">
        <input class="form-control" style="margin: 10px;min-width:200px"  type="password" id="password"  name="password" placeholder="password">
        <input class="btn btn-primary" style="margin: 20px;min-width:120px"  type="submit" >
      </form>


    </div>
    {% if form.errors %}

    <p class="text-danger">
     Lo siento su usuario o contraseña son incorrectos
    </p>

    {% else %}
    {% endif %}


    {% endblock %}
  </div>
