

{% extends 'base.html' %}

{%load  static %}


{% block main%}



<div style="display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:15%
            ">
    <div id="formContent" class="back-color-form">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div  class="">
        <img style="border-radius: 5px;" src="https://res.cloudinary.com/nahuelement/image/upload/c_scale,w_300/v1688688616/g8srzsfc7qe8iwt48zhf.jpg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form class="login" style="margin: 8px;" method="post">
        {% csrf_token %}

        <input class="form-control" style="margin: 8px;min-width:200px" type="text" id="login" name="username"   placeholder="usuario">
        <input class="form-control" style="margin: 8px;min-width:200px"  type="password" id="password"  name="password" placeholder="password">
        <input class="btn btn-success" style="margin: 10px;min-width:120px"  type="submit" >
      </form>


    </div>
    {% if form.errors %}

    <p class="text-danger">
     Lo siento su usuario o contraseña son incorrectos
    </p>

    {% else %}
    {% endif %}


    {% endblock %}
  </div>
