

{%load  static %}
<div id="carouselExampleFade" class="carousel slide carousel-fade position-sticky" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/nahuelement/image/upload/v1687911948/mcnkh3niv6pfgsaqbmsq.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/nahuelement/image/upload/v1687913317/thdhpqstqyct8hrmjpgw.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/nahuelement/image/upload/v1687914174/w2bqomdhrf0tcypcrddj.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>