{% extends 'base.html' %}
{% load app1_tags %}

{%load  static %}


{% block main%}

    {% block 'carousel' %}
    {%include 'carousel.html' %}
    {% endblock %}
    <div class="titulo_platos">
    <h1>Lista de Platos</h1>
    </div>

    <div class="platos">
        {% for plato in platos %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>{{ plato.nombre_plato }}</h2>
                  <p class="card-text">{{ plato.descripcion }}</p>
                  <p>Precio: {{ plato.precio }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="titulo_platos">
        <h1>Promociones</h1>
        </div>

    {% if user.is_authenticated %}
    <div >
        <p>Bienvenido, {{ user.username }}.</p>
    </div>


    <div class="platos">
        {% get_ofertas as ofertas %}
        {% for promos in ofertas %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>{{ promos.nombre_plato }} + Bebida</h2>
                  <p class="card-text">{{ promos.descripcion }}</p>
                  <p>Precio oferta: {{ promos.promocion }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


        {% else %}
    <p>Inicia sesión para acceder al contenido.</p>
        {% endif %}

    <div class="titulo_platos">

        <h1>Eventos</h1>
        </div>

        <div class="platos">
            {% for evento in eventos %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2>{{ evento.nombre_evento }}</h2>
                      <p class="card-text">{{ evento.descripcion }}</p>
                      <p>Precio: {{ evento.precio }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}

