
{%load  static %}

<nav class="navbar navbar-color navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: goldenrod;"  href="/"><h3>Restorant</h3></a>
      <button style="margin-right: 2% ;background: goldenrod" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarNav">
        <div style="display: flex; flex: 1"></div>
        <ul class="navbar-nav">
          <!-- Navigation links -->

          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'reservas' %}">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'login' %}">Iniciar sesion</a>
          </li>
        <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'eventos_congresos' %}">Eventos y Congresos</a>
        </li>




        </ul>
      </div>
    </div>
  </nav>
