{% extends 'base.html' %}

{%load  static %}


{% block main%}

{% if sent %}
<div class="reserva" >
<h1>Muchas gracias!!</h1>
<p>{{ cd.nombre }} {{ cd.apellido }} tu reserva fue ingresada de forma correcta
</p>
<p>El dia {{ cd.fecha }} a las {{cd.hora}}
</p>
</div>
{% else %}
<div style="display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:5%;
            padding-top: 10%;"
            >
<div id="formContent" class="back-color-form">
<form class="reserva" method="post">

    {{ reserva }}
    {% csrf_token %}
    <input class="btn btn-success" style="margin: 15px;min-width:120px" type="submit" value="Reservar">

</form>
</div>
</div>

{% endif %}

{% endblock %}