


*{
    font-family: 'Lato', sans-serif;
}
main{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.carousel{

    position: fixed;
}

.navbar{
    display: flex;
    background: transparent!important;
    transition:  ease-in-out 1s;
    width: 100vw;
    position: fixed;
    z-index: 99;
}

.titulo_platos{
    display: flex;
    padding-top: 8%;
    margin-bottom: 0%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.platos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);



}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 15px;
    /* Agrega más estilos según sea necesario */
  }


.login{

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;


}
.reserva{

    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    padding:5%

}

.form-control{
    display: flex;
    letter-spacing: 2px!important;
    max-width: 300px;
}


label[for="labelInput"] {
    display: flex;
    letter-spacing: 2px!important

}

.navbar-nav{

    display: flex;
    padding-right: 4%;

}

.nav-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;


    font-size: large;
    min-width: 100px;

}

.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 1%;

}

.navbar-color {

    transition:  ease-in-out 1s;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;

  }


  /* .navbar-blur{
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  } */